
@import url('https://fonts.googleapis.com/css2?family=Bitter&display=swap');

a {
  text-decoration: none;
  color: #203040;
}
a:hover {
  text-decoration: none;
  color: plum;
}
a:focus {
  text-decoration: none;
  color: plum;
}
a:active {
  text-decoration: none;
  color: plum;
}
button, a {
  cursor: pointer;
  text-decoration: none;
}
ul {
  list-style: none;
}
p {
  color: #203040;
}

#brand-name{
  color: white;
  text-decoration: none;
  cursor: pointer;

}
.hover{
  padding: .2rem;
}
.hover:hover{
  border: .1rem solid plum;
}
#item-Link{
  text-decoration: none;
}
#cart-icon{
  color: white;
}
.App {
  align-items: center;
  padding: .5rem;
  font-family: 'Bitter', serif;

}
.home-page{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: 'Bitter', serif;
}
.home-page-header{
  background-color: #203040;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  font-size: large;
  margin-bottom: .3rem;
  
}
.home-page-header ul {
  display: flex;
  flex-direction: row;
  padding-right: 1rem;
  justify-content: space-between;
  
}
.home-page-header ul li {
  padding-right: 1rem;
  
}
.home-page-review{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.sideBar-icon {
  color: white;
  padding: 0.1rem;
}

.side-bar-window {
  position: fixed;
  transition: all 0.5s;
  transform: translateX(-30rem);
  width: 20rem;
  background-color: whitesmoke;
  height: 100%;
}
.open {
  transform: translateX(0rem);

}
.side-bar-btn{
  font-style: none;
  background-color: #203040 ;
  border: none;
  align-items: center;
  justify-content: center;
  margin-right: .3rem;
}
.side-bar-btn :hover {
  color : plum;  
}
.side-bar-close-btn {
  position: fixed;
  transform: translateX(20rem);
  background-color: #203040;
  border: none;
  
}
.side-bar-close-icon {
  color:plum ;
  font-size: xx-large;
  
}
.form-inline  {
  align-items: center;
  justify-content: center;
}
.home-page-search-bar-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.home-page-search-bar-container #dropdown-basic-button{
  margin-left: 1.3rem;
  color: #203040;
  background-color:white ;
  border-color: plum;
}
.home-page-search-btn{
  color: #203040;
  background-color: white;
  border-color: plum;
}
.home-page-products-ul{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: .5rem;

}
.home-page-product-li{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width:20rem;
  height: 40rem;
  align-items: left;
  justify-content: center;
  margin: 1rem;
  padding: .5rem;
 
}

.home-page-product-img{
  width:100%;
  height: 25rem;
  padding: 1rem;
}
.home-page-product-name {
  font-size: larger;
  font-weight: bold;
  color: #203040;
}
.home-page-product-reviews{
  font-weight: bold;
  font-size: small;
}
.home-page-product-price{
  font-size: medium;
  font-weight: bolder;
}
.cart-info{
  display: flex;
  height: 2rem;
  width: 2rem;
  transform: translate(1.3rem, -2.2rem);
  border-radius: 50%;
  color: #203040;
  background-color: plum;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.red{
  color: red;
  font-weight: red;
}

.product-details-page-li{
  padding: .5rem;
  margin: 1rem;
  width: 21%;
  float: left;
}
.details-page-products-ul{
  margin-top: 0rem;
  padding-top: 0rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.product-details-page-image{
  width: 40%;
  float: left;
}
.product-details-page-image img {
  width:20rem;
  height: 25rem;
}
.product-details-page-text-info{
  box-sizing: border-box;
  padding: .5rem;

}
.border {
  border: .1rem solid plum;

}
.btn-add-to-cart{
  background-color: #203040 ;
  color: white;
  margin-top: 5rem;
}
.btn-add-to-cart:hover {
  background-color: plum;
  color: #203040;
}